/* HEADER */
	header img {
		max-width: 100%;
		width: 450px ;
		height: auto;
	}
	header p {
		color: var(--textoQuarternario);
	}
/* INTERFACE PRINCIPAL */
	.interfacePrincipal {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
/* PLANILHA */
	table {
		background-color: var(--fundoBranco);
		border-collapse: collapse;
		width: 100%;
	}
	th,td {
		padding: 10px 25px;
		text-align: left;
	}
	tr {
		border-top: 2px solid var(--corBorda);
	}
	tbody:hover {
		background-color: var(--fundoCinzaUm);
	}
	.containerPlanilha {
		/* APARÊNCIA */
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0px;
		height: 100%;
		overflow: hidden;
		margin-top: 20px;
		width: 90% ;
		/* BORDA */
		border: none;
		border-radius: 8px;
		box-shadow: 0px 0px 8px black;
	}
	.headerPlanilha {
		background-color: var(--azulPrincipal);
		width: 100%;
		padding: 8px;
	}
	.headerPlanilha:not(.mini) p {
		color: var(--textoSegundario);
	}
	.mini {
		background-color: var(--fundoBranco);
	}
	.headerPlanilha img {
		max-width: 400px;
		max-height: auto;
	}
	td, .celula {
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}
	td:last-child {
		vertical-align: middle;
		white-space: nowrap;   
	}

@media screen and (max-width: 999px) {
/* HEADER */
	header img {
		height: auto;
	}
	body {
		background-image: url('backgroundLogin.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	p {
		padding: 4px;
	}
/* BOTÕES */
	.botaoInscrever {
		background-color: var(--azulPrincipal);
		border: none;
		border-radius: 10px;
		height: 2.5rem;
		color: var(--textoSegundario);
		font-weight: 900;
		padding-right: 4px;
		padding-left: 2px;
		width: 100%;
	}
	.botaoInscrever:hover {
		background-color: var(--azulQuinario);
		cursor: pointer;
	}
/* PLANILHA */	
	table, thead, tbody, th, td, tr {
		display: block;
		width: 100%;
		text-align: center;
	}
	tr {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	thead tr {
		display: none;
	}
	td::before {
		content: attr(data-label);
		text-transform: uppercase;
		font-weight: 900;
		display: block;
	}
	table {
		background-color: var(--fundoBranco);
		border-collapse: collapse;
		width: 100%;
	}
	th,td {
		padding: 10px 10px;
		text-align: left;
		
	}
	tbody {
		border-top: 2px solid var(--corBorda);
	}
	tbody:hover {
		background-color: var(--fundoCinzaUm);
	}
	.containerPlanilha {
		/* APARÊNCIA */
			overflow-x: auto;
	}
	.headerPlanilha {
		background-color: var(--azulPrincipal);
		width: 100%;
		padding: 8px;
	}
	.headerPlanilha:not(.mini) p {
		color: var(--textoSegundario);
	}
	.mini {
		background-color: var(--fundoBranco);
	}
	.headerPlanilha img {
		max-width: 200px;
		max-height: auto;
	}
	.celula img {
		display: none;
	}
	td, .celula {
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}
	td:last-child {
		vertical-align: middle;
		white-space: nowrap;   
	}
}
@media screen and (max-width: 200px) {
	td {
		font-size: 14px;
	}
	.headerPlanilha img {
		max-width: 100px;
		max-height: auto;
	}
	.botaoInscrever {
		background-color: var(--azulPrincipal);
		border: none;
		border-radius: 10px;
		height: 2.5rem;
		color: var(--textoSegundario);
		font-weight: 100;
		padding-right: 4px;
		padding-left: 2px;
		width: 100%;
		font-size: 10px;
	}
}