/* ESTILIZAÇÕES GERAIS */
	/* AJUSTES DE CORES E FONTE */
		:root {
			/* FUNDOS E DETALHES */
			--corBorda: #F0F0F2;
			--azulPrincipal: #1A66FF;
			--azulSegundario: #1643F5;
			--azulTerciario: #00AAFF; 
			--azulQuarternario: #00CCFF;
			--azulQuinario: #0000FF;
			--fundoCinzaUm: #F0F1F4;
			--fundoBranco: #FFFFFF;
				/* FUNDOS DE CORES QUENTES */
				--textoQuentePrincipal: #BD2C1A;
				--textoQuenteSegundario: #AC4E2D;
				--fundoQuenteUm: #FFF4E8;
				--corBordaQuente: #FCE4D6;
				
			/* TEXTO */
			--textoPrincipal: #000000;
			--textoSegundario: #FFFFFF;
			--textoTerciario: #767784;
			--textoQuarternario: #F0F1F4;
			--fonteGrandeUm: 32px;
			/* BOTÕES */
			--botaoInativoLogin: #F0F1F4;
			--botaoAtivoLogin: #FFFFFF;
			--fontePequenaUm: 16px;
		}	
		/* FONTE NORMAL */
		@font-face {
			font-family:'uberMove';
			src: url('\UberMoveTextRegular.otf');	
		}
		/* FONTE GROSSA */
		@font-face {
			font-family:'uberMoveBold';
			src: url('\UberMoveTextBold.otf');
		}
		/* TEXTO GENÉRICO */
		body {
			font-family:'uberMove';
			scrollbar-width: none;
		}
		button {
			font-family:'uberMove';
		}
		p {
			color: var(--textoTerciario);
		}
		.tituloEdital {
			color: var(--textoQuentePrincipal);
		}
		.textoEdital {
			color: var(--textoQuenteSegundario);
		}
		a {
			text-decoration: none;
		}
	/* AJUSTA O TAMANHO E PROPORÇÕES DO SITE */
		* {
			margin: 0;
			padding: 0;
			box-sizing:border-box;
		}
	/* ESTA PARTE EM PARTICULAR AFETA TODOS OS PLACEHOLDERS DE INPUTS DA PÁGINA */
		input::placeholder,
		textarea::placeholder {
			color: var(--textoTerciario);
			padding-left: 4px;
		}